@use './config' as c;
@use './mixins' as m;

// Generates automaticlly fotn-size utility classes.
@each $name, $size in c.$sizes {
  .fs-#{$name} {
    @include m.font-size($name);
  }
}

// Generates automatically font-weight utility classes.
@each $name, $weight in c.$weights {
  .fw-#{$name} {
    @include m.font-weight($name);
  }
}

.text-tertiary {
  color: var(--color-text-secondary);
}

:root {
  margin: 0;
  padding: 0;
  background-color: #f9f6fa;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0%;
  padding: 0%;
  background-color: var(--color-background);
  box-sizing: border-box;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}