@use "./Components/navbar.scss";
@use "./Components/userdorpdown.scss";

body {
  margin: 0%;
  padding: 0%;
  background-color: #F9F6FA;
  box-sizing: border-box;
}

:root {
  margin: 0;
  padding: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}