.navbar {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0.8% 0;
  background: linear-gradient(90deg in oklab, #2E0B42, #8541AC);
  color: white;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

.navbar-logo {
  margin-left: 2%;
  margin-right: 0.4%;
  width: 32px;
  height: 32px;
}

.user-bar {
  margin-left: auto;
  margin-right: 1%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.navButton {
  background: none;
  border: none;
  color: white;
  font-size: 1em;
  cursor: pointer;
}