@use '../../styles/sass/mixins' as mix;
@use '../../styles/sass/functions' as fn;

p {
  margin: 0;
  color: var(--color-text);
}

.sidebar {
  background-color: color-mix(in srgb, var(--color-primary) 38%, transparent);
  width: 312px;
  padding: 20px 0;
  display: flex;
  justify-content: center;

}

.content {
  width: 84%;
}

.titleMenu {
  margin-top: 10px;
  font-weight: 600;
  font-size: 25px;
}

.line {
  width: 100%;
  height: 1px;
  margin: 10px 0 8px 0;
  background-color: var(--color-line);
}

.itemSidebar {
  @include mix.flex-center;
}

.itemSidebar:hover {
  background-color: color-mix(in srgb, var(--color-primary) 15%, transparent);;
  border-radius: fn.border-radius(sm);
  cursor: pointer;
}

.itemSidebar p {
  font-size: 17px;
}

.contentImage {
  @include mix.flex-center;
  background-color: #d9d9d9;
  border-radius: fn.border-radius(sm);
  width: 12%;
  aspect-ratio: 1 / 1;
  justify-content: center;
  margin: 5px 10px 5px 2px;
}

.contentImage img {
  width: 15px;
  aspect-ratio: 1 / 1;
}

.navigateItem:hover {
  cursor: pointer;
}