:root {
  margin: 0;
  padding: 0;
  background-color: #f9f6fa;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0%;
  padding: 0%;
  background-color: #fff;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 80px;
  margin: 0%;
  padding: 0%;
  background: linear-gradient(90deg in oklab, #2E0B42, #8541AC);
  color: white;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

.navbar-logo {
  margin-left: 20px;
  margin-right: 5px;
  width: 32px;
  height: 32px;
}

.company-name {
  font-family: 'Poppins', sans-serif;
}

.search-bar {
  margin-left: 25%;
  width: 720px;
  height: 36px;
  padding: 5px 10px;
  border: none;
  border-radius: 28px;
  font-size: 16px;
  box-shadow: inset  0px 4px 4px rgba(0,0,0,0.25);
}

.user-bar {
  margin-left: auto;
  margin-right: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.notification {
  margin-left: 101px;
  margin-right: 20px;
  margin-top: 10px;
  cursor: pointer;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}